/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LWR     1
#define RSE     2
#define ADJ     3
#define ALTE    4

#define NXT C_NEXT
#define PRV C_PREV
#define VUP C_VOL_UP
#define VDN C_VOL_DN
#define PLY C_PP

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// |CTLESC|  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &kp TAB       &kp Q &kp W &kp E &kp R &kp T    &kp Y &kp U &kp I     &kp O   &kp P    &kp BSPC
   &mt LCTRL ESC &kp A &kp S &kp D &kp F &kp G    &kp H &kp J &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT     &kp Z &kp X &kp C &kp V &kp B    &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                    &kp LGUI &mo LWR &kp SPACE    &kp RET &mo RSE &kp RALT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |   ~  |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | DEL |
// | CTRL |  F1 | F2  | F3  | F4  | F5  |   | F6  |  _  |  +  |  {  |  }  |  |  |
// | SHFT |  F7 | F8  | F9  | F10 | F11 |   | F12 |     |     |HOME |  END|     | 
//                    | GUI |     | SPC |   | ENT | ADJ | ALT |
                        bindings = <
   &kp TILDE  &kp EXCL &kp AT &kp HASH &kp DLLR  &kp PRCNT     &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp DEL
   &kp LCTRL  &kp F1   &kp F2 &kp F3   &kp F4    &kp F5        &kp F6    &kp UNDER &kp PLUS        &kp LBRC &kp RBRC &kp PIPE
   &kp LSHFT  &kp F7   &kp F8 &kp F9   &kp F10   &kp F11       &kp F12   &none     &none           &kp HOME &kp END  &none
                                &kp LGUI &trans &kp SPACE      &kp RET &mo ADJ &kp RALT
                        >;
                };
                raise_layer {
// -----------------------------------------------------------------------------------------
// |  `   |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | DEL |
// | CTRL |LEFT | DOWN| UP  |RIGHT|     |   |     |  -  |  =  |  [  |  ]  |  \  |
// | SHFT |     |     |     |     |     |   |     |     |     |PGUP |PGDWN|     |
//                    | GUI | ADJ | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp GRAVE &kp N1   &kp N2   &kp N3 &kp N4    &kp N5      &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp DEL
   &kp LCTRL &kp LEFT &kp DOWN &kp UP &kp RIGHT &none       &none     &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT  &kp BSLH
   &kp LSHFT &none    &none    &none  &none     &none       &none     &none     &none     &kp PG_UP &kp PG_DN &none 
                            &kp LGUI &mo ADJ &kp SPACE      &kp RET &trans &kp RALT
                        >;
                };
                adjust_layer {
// -----------------------------------------------------------------------------------------
// |     |     |     |     |     |     |   |     |     |     |     |     |     |
// |CLEAR| BT1 | BT2 | BT3 | BT4 | BT5 |   |     | PRV | VDN | VUP | NXT | PLY |
// |     |     |     |     | DEF | ALTE|   |     |     |     |     |     |     |
//                   | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &none      &none        &none        &none        &none        &none           &none &none   &none   &none   &none   &none 
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &none &kp PRV &kp VDN &kp VUP &kp NXT &kp PLY
   &none      &none      &none          &none        &none        &tog ALTE       &none &none   &none   &none   &none   &none 
                                        &kp LGUI     &trans       &kp SPACE       &kp RET &trans &kp RALT
                        >;
                };
                alternate_default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// |CTLESC|  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT |
//                    | APP | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T    &kp Y &kp U &kp I     &kp O   &kp P    &kp BSPC
   &mt CESC  &kp A &kp S &kp D &kp F &kp G    &kp H &kp J &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B    &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT
               &kp K_APP &mo LWR &kp SPACE    &kp RET &mo RSE &kp RALT
                        >;
                };

        };
};
